<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.baeksuk.urlBox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="kr.baeksuk.urlbox.util.base.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinkBox"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="kr.baeksuk.urlbox.view.urldetail.ImageFullActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.addlink.recapture.ReCaptureActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ad_mob_app_id}" />

        <activity
            android:name="kr.baeksuk.urlbox.view.useterms.UseTermsActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.privacy.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.editurl.settag.SetTagActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.tag.TagActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.editurl.EditInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="kr.baeksuk.urlbox.view.myfolder.MyFolderActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.setting.SettingActivity"
            android:exported="false" /> <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="kr.baeksuk.urlbox.view.admin.FeedbackAdminActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.util.base.ShareReceiverActivity"
            android:exported="true"
            android:theme="@style/Theme.LinkBox.ShareReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" /> <!-- 텍스트 공유용 -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" /> <!-- 이미지 공유용 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="${kakao_app_key}" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.baeksuk.urlbox.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.imgdetail.ImgDetailActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.favorite.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.savedlink.SavedLinkActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.urldetail.UrlDetailActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.baeksuk.urlBox.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="kr.baeksuk.urlbox.view.addlink.capture.CaptureActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="kr.baeksuk.urlbox.view.addlink.AddLinkActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name="kr.baeksuk.urlbox.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>